body {
  background: #0a0a14;
  color: #ddd;
  font-family: sans-serif;
}

#log {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #555;
  padding: 10px;
  margin-bottom: 10px;
}

#stats {
  margin-bottom: 10px;
}

button {
  margin: 5px;
}
